.trackItem {
    display: grid;
    align-items: center;
    grid-template-columns:
        minmax(300px, 1fr) minmax(100px, 1fr) minmax(80px, 1fr)
        minmax(80px, 1fr) minmax(80px, 1fr);
    margin-top: 20px;
    background-color: var(--secondary-bg-color);
    padding: 7px 12px 7px 10px;
    border-radius: 10px;
    width: 100%;

    &:hover {
        background-color: var(--secondary-bg-hover-color);
    }

    .name {
        h5 {
            max-width: 300px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        p {
            filter: brightness(0.8);
        }
    }
}

.trackItemCompact {
    padding: 7px 12px 7px 10px;
    border-radius: 10px;
    width: 100%;

    &:hover {
        background-color: var(--bg-color);
    }

    .name {
        p {
            filter: brightness(0.8);
        }
    }

    .shortTitle {
        h5 {
            max-width: 170px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.info {
    svg {
        fill: var(--primary-color);
    }
}

.album {
    font: var(--font-m);
    justify-self: end;
}

.image {
    height: 50px;
}

.listens {
    justify-self: end;
}

.time {
    justify-self: end;
}

.trackItemMini {
    margin-top: 20px;
}
