.card {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-height: 288px;
}

.albumItemCompact {
    padding: 8px 10px;
    border-radius: 10px;

    &:hover {
        background-color: var(--bg-color);
    }
}

.info {
    overflow-y: hidden;

    h5,
    p {
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
