@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap';


body{
    font: var(--font-l);
}

.app {
    position: relative;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;

}

.main-container{
    display: flex;
    height: calc(100vh - 122px);
}

.page-container{
    width: calc(100% - var(--sidebar-width));
    display: flex;
    flex-direction: column;
}


p, h5{
    margin-block-start: 0;
    margin-block-end: 0;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--shadow-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--app-color);
}