
.cardWrapper{
    background-color: var(--secondary-bg-color);
    padding: 20px;  
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;

    &:hover{
        background-color: var(--secondary-bg-hover-color);
    }
}


