# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# # dependencies
**/node_modules
**/.pnp
**.pnp.js

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/storybook-static
.loki/report.html
.loki/report.json

# misc
**.DS_Store
**.env.local
**.env
**.env.development.local
**.env.test.local
**.env.production.local


**/build
**.idea
**/storybook-static
**.loki/report.html
**.loki/report.json