.albumDetails {
    display: flex;
}

.title {
    color: var(--primary-color);
    font-size: var(--title-font-size);
    margin: 20px 0;
}

.additional {
    display: flex;
    align-items: center;
    gap: 20px;
}
