.sideBar {
    background-color: var(--secondary-bg-color);
    width: var(--sidebar-full-width);
    color: var(--secondary-color);
    padding: 26px 0 10px 20px;
    transition: 0.25s ease width;
    height: calc(100vh - var(--player-heigth));
    overflow: hidden;
}

.link {
    margin-bottom: 30px;
}

.collapsed {
    width: var(--sidebar-compact-width);
    padding: 50px 0 0;
}

.switchers {
}
