.outlined {
    .dropDownChip {
        border: 1px solid var(--secondary-color);
    }

    .dropDownList {
        border: 1px solid var(--secondary-color);
    }
}

.filled {
    .dropDownChip {
        background-color: var(--app-color);
    }

    .dropDownList {
        background-color: var(--app-color);
    }
}


.dropDown {
    max-width: max-content;
    font: var(--font-m);
    color: var(--secondary-color);
    position: relative;
    white-space: nowrap;

    .collapsed {
        filter: opacity(0.8);
    }

    .dropDownChip {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        width: inherit;
   

        &:hover {
            filter: opacity(0.8);
        }

        svg {
            width: 25px;
            height: 25px;  
            fill: var(--secondary-color);
        
        }
    }

    .dropDownList {
        margin-top: 10px;
        padding: 20px 20px 20px 6px;
        border-radius: 10px;
        position: absolute;
        z-index: 100;
        min-width: 100%;
    }
}

.disabled{
    opacity: 0.6;
    pointer-events: none;
}

.selected{
    background-color: var(--secondary-bg-color);
    color: var(--primary-color)
}

.option{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background-color: var(--secondary-bg-color);
        color: var(--primary-color)
    }
}


