.player {
    font: var(--font-m);
    background-color: var(--player-color);
    color: var(--player-text-color);
    padding: 15px 35px;

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .title {
        font-weight: 700;
    }

    .controls {
        width: 50%;

        .controlsIcons {
            display: flex;
            gap: 20px;
        }
    }

    svg {
        cursor: pointer;
        fill: var(--player-text-color);
        stroke: var(--player-text-color);
    }

    input {
        color: beige;
    }
}
