.player {
    font: var(--font-m);
    background-color: var(--player-color);
    color: var(--player-text-color);
    padding: 15px 35px;
    display: grid;
    grid-template-columns: 30% 1fr 20%;
    height: var(--player-heigth);

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .title {
        font-weight: 700;
    }

    .controls {
        width: 50%;

        .controlsIcons {
            display: flex;
            gap: 20px;
        }
    }

    input {
        color: beige;
    }

    .volume {
        justify-self: end;
    }
}
