.trackItem {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(300px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    margin-top: 20px;
    background-color: var(--secondary-bg-color);
    padding: 7px 12px 7px 10px;
    border-radius: 10px;

    &:hover{
        background-color: var(--secondary-bg-hover-color);
    }
}

.info{
    display: flex;
    align-items: center;
    gap: 20px;

    svg{
        fill: var(--primary-color);
    }
}

.album{
    font: var(--font-m);
    justify-self: start;
}

.image{
    height: 50px;
}

.listens{
    justify-self: end;
}

.time{
    justify-self: end;
}

.name{
    p{
        filter: brightness(0.8);
    }
}