.Link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--secondary-color);

    svg {
        width: 26px;
        height: 26px;
    }
}

.separated {
    margin-top: 150px;
}
